# makes sure "quiet splash vt.global_cursor_default=0" are
# added to the installed system and works from the first boot
#
GRUB_CMDLINE_LINUX_DEFAULT="quiet splash vt.global_cursor_default=0 intel_iommu=on amd_iommu=on iommu=pt thunderbolt.host_reset=false biosdevname=0 net.ifnames=0"
