[Desktop Entry]
Name=Midnight Commander
Comment=File manager
Exec=mc
Icon=MidnightCommander
Terminal=true
Type=Application
Categories=ConsoleOnly;Utility;FileManager;System;FileTools;
Keywords=file manager;console;
NoDisplay=true
