[Unit]
Description=create the live-session-only user, live boots only
#
# (this file will be automatically removed upon first boot)
#
DefaultDependencies=no
After=systemd-tmpfiles-setup.service local-fs.target
Before=display-manager.service sysinit.target
ConditionPathExists=/usr/local/sbin/pumice_liveuser_setup

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/pumice_liveuser_setup
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
